{% extends "base.html" %}

{% block title %}{{ question.title }} - Technical Questions App{% endblock %}

{% block content %}
<div class="question-detail-container">
    <h2>{{ question.title }}</h2>
    <p>{{ question.prompt }}</p>

    <form method="post" action="{{ url_for('main.question_detail', slug=question.slug) }}">
        <div>
            <label for="language">Language:</label>
            <select name="language" id="language">
                <option value="python" {% if question.language == "python" %}selected{% endif %}>Python</option>
                <option value="sql" {% if previous_language == "sql" %}selected{% endif %}>SQL</option>
            </select>
        </div>
        <div>
            <label for="answer">Your Solution:</label>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <label for="answer">Your Solution:</label>
                <button type="button" id="theme-toggle" style="
                    font-size: 0.8rem;
                    padding: 0.2rem 0.5rem;
                    background-color: #670b14;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    margin-bottom: 0.5rem;
                ">
                    Switch Theme
                </button>
            </div>
            <textarea name="answer" id="answer">{{ submitted_answer if submitted_answer }}</textarea>
        </div>
        <button type="submit">Submit</button>
    </form>

    {% if evaluation %}
    <div class="evaluation-box">
        <h3>Evaluation Results</h3>

        <div class="output-box">
            <strong>Expected Output:</strong>
            <pre><code class="language-{{ question.language }}">{{ question.expected_output }}</code></pre>
        </div>

        <div class="output-box">
            <strong>Your Output:</strong>
            <pre><code class="language-{{ question.language }}">{{ user_output }}</code></pre>
        </div>

        <div class="output-box">
            <strong>Your Submitted Code:</strong>
            <pre><code class="language-{{ question.language }}">{{ submitted_answer }}</code></pre>
        </div>

        <p class="evaluation-status">{{ evaluation }}</p>
    </div>
    {% endif %}

    <p>
        <a href="{{ url_for('main.questions') }}" class="back-button">← Back to Questions</a>
    </p>
</div>
<script src="{{ url_for('static', filename='js/code_editor.js') }}"></script> <!-- styling for text editor -->
{% endblock %}
